<div class="animated fadeIn">
  <div class="row">
    <div class="col-12"><h1 class="display-3">Choose a show</h1></div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="#/coin/got">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://thetvdb.com/banners/fanart/original/121361-15.jpg">
          <div class="card-block">
            <h4 class="card-title">Game of Thrones</h4>
          </div>
        </div>
      </a>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <a href="#/coin/thirteen-reasons-why">
        <div class="card">
          <img class="card-img-top img-fluid"
               src="http://az616578.vo.msecnd.net/files/2017/04/24/636286444919284462-581385395_13%20reasons%20why.jpg">
          <div class="card-block">
            <h4 class="card-title">Thirteen Reasons Why</h4>
          </div>
        </div>
      </a>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
      <a href="#/coin/criminal-minds">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://www.returndates.com/backgrounds/criminalminds.jpg">
          <div class="card-block">
            <h4 class="card-title">Criminal Minds</h4>
          </div>
        </div>
      </a>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-3">
     <a href="#/coin/big-bang-theory">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://images8.alphacoders.com/431/431311.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Big Bang Theory</h4>
        </div>
      </div>
     </a>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
