<div class="animated fadeIn">
  <p class="lead">Game of Thrones</p>
  <h1 *ngIf="season" class="display-3">Season {{season.seasonNumber}}</h1>

  <div class="row">
    <div class="col-12">

      <!-- Episode selection -->
      <div class="card text-center">
        <div class="card-block">
          <span *ngIf="season">
              <span *ngFor="let e of season.episodes" routerLinkActive="active">
                <button type="button" class="btn btn-primary btn-lg btn-space"
                        [routerLink]="['episode/', e.episodeNumber]">Episode {{e.episodeNumber}}</button>
              </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Ratings per star rating -->
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                        [datasets]="ratingDistributionData"
                        [labels]="ratingDistributionLabels"
                        [options]="ratingDistributionOptions"
                        [colors]="ratingDistributionColors"
                        [legend]="ratingDistributionLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <h4 class="text-lg-center">Distribution of Ratings</h4>
            </div><!--/.col-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                        [datasets]="averageRatingData"
                        [labels]="averageRatingLabels"
                        [options]="averageRatingOptions"
                        [colors]="averageRatingColors"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <h4 class="text-lg-center">Average rating per episode</h4>
            </div><!--/.col-->
          </div>
        </div>
      </div>
    </div>
    <img src="http://vignette1.wikia.nocookie.net/gameofthrones/images/d/da/House_Stark_Sigil_(transparent).png" width="150" height="auto">
  </div>

</div>
