<div class="animated fadeIn">

  <!-- Title image -->
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{show?.titleimage}}" width="100%">
      </div>
    </div>
  </div>

  <p class="lead cursor-pointer"><span [routerLink]="['/show/', show?.id]"> {{show?.name}}</span> - Season {{season?.seasonNumber}}</p>
  <h1 class="display-3" style="margin-bottom: 3rem;">Episode {{episode?.episodeNumber}}</h1>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <!-- reddit and imdb -->
          <div class="row">
            <div class="col-6 col-md-3">
              <div class="card no-vertical-margin card-info">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-2">
                    <img src="../../assets/img/logos/reddit.png"
                         height="50" width="auto">
                  </div>
                  <div class="h1 mb-0">{{episode?.redditPost_count | number}}</div>
                  <p class="text-uppercase font-weight-bold">Posts</p>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-6 col-md-3">
              <div class="card no-vertical-margin card-info">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-2">
                    <img src="../../assets/img/logos/reddit.png"
                         height="50" width="auto">
                  </div>
                  <div class="h1 mb-0">{{episode?.redditComment_count | number}}</div>
                  <p class="text-uppercase font-weight-bold">Comments</p>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-6 col-md-3">
              <div class="card no-vertical-margin card-warning">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-2">
                    <img src="../../assets/img/logos/imdb.png" height="50" width="auto">
                  </div>
                  <div class="h1 mb-0">{{episode?.imdb_review_count | number}}</div>
                  <p class="text-uppercase font-weight-bold">User Reviews</p>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-6 col-md-3">
              <div class="card no-vertical-margin card-warning">
                <div class="card-block">
                  <div class="h2 text-muted text-right mb-2">
                    <img src="../../assets/img/logos/imdb.png" height="50" width="auto">
                  </div>
                  <div class="h1 mb-0">{{episode?.imdbRating | number}}</div>
                  <p class="text-uppercase font-weight-bold">Avg. Rating </p>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div><!--/.row-->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-12">
              <h2 class="text-lg-center">Distribution of Ratings</h2>
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                        [datasets]="ratingDistributionData"
                        [labels]="ratingDistributionLabels"
                        [options]="ratingDistributionOptions"
                        [colors]="ratingDistributionColors"
                        [legend]="ratingDistributionLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div><!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Word cloud -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn btn-primary btn-sm" type="button" (click)="setFilter('all')">All</button>
      <button class="btn btn-success btn-sm" type="button" (click)="setFilter('pos')">Positive</button>
      <button class="btn btn-danger btn-sm" type="button" (click)="setFilter('neg')">Negative</button>
      <div class="card">
        <svg width="1000" height="1000"></svg>
      </div>
    </div>
  </div>

</div>

