<div class="animated fadeIn">

  <!-- Title image -->
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
          <!-- TODO: crop image from bottom for larger images -->
        <img class="card-img-top img-fluid" src="{{show?.titleimage}}" width="100%">
      </div>
    </div>
  </div>

  <p class="lead">{{show?.name}} - Season <span *ngIf="season">{{season.seasonNumber}}</span></p>
  <h1 class="display-3" style="margin-bottom: 3rem;">Episode <span *ngIf="episode">{{episode.episodeNumber}}</span></h1>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                        [datasets]="ratingDistributionData"
                        [labels]="ratingDistributionLabels"
                        [options]="ratingDistributionOptions"
                        [colors]="ratingDistributionColors"
                        [legend]="ratingDistributionLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <h4 class="text-lg-center">Distribution of Ratings</h4>
            </div><!--/.col-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card text-center">
        <div class="card-block">
          <div class="row">
            <!-- IMDb rating -->
            <div class="col-sm-6 col-md-6">
              <div class="card card-inverse card-warning text-center">
                <div class="card-block">
                  <h1 class="card-title display-1"><i class="fa fa-star"></i></h1>
                  <h1 class="card-title"><strong>8.6</strong></h1>
                  <h3 class="card-text">IMDb Rating</h3>
                </div>
              </div>
            </div><!--/.col-->
            <!-- trakt.tv rating -->
            <div class="col-sm-6 col-md-6">
              <div class="card card-inverse card-danger text-center">
                <div class="card-block">
                  <h1 class="card-title display-1"><i class="fa fa-star"></i></h1>
                  <h1 class="card-title"><strong>8.9</strong></h1>
                  <h3 class="card-text">Trakt.tv Rating</h3>
                </div>
              </div>
            </div><!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

