<div class="page__dashboard animated fadeIn">

  <!-- Title image -->
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
          <!-- TODO: crop image from bottom for larger images -->
            <img class="card-img-top img-fluid" src="{{show?.titleimage}}" width="100%">
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-lg-12">
      <div class="row">

        <!-- Season selection -->
        <div class="col-12">
          <div class="card">
            <div class="card-block">
              <span *ngIf="show">
                <div class="row">
                  <div *ngFor="let s of show.seasons" class="col-12 col-md-2" routerLinkActive="active">
                    <a [routerLink]="['season/', s.seasonNumber]">
                    <div class="card card-inverse card-info no-vertical-margin">
                      <!--<img src="http://www.cultjer.com/img/ug_photo/2015_10/72623720151004152641.jpg" class="card-img-top" height="200" width="auto"/>-->
                      <div class="card-block">
                        <h4 class="card-title text-center" style="margin-bottom: 0;">Season {{s.seasonNumber}}</h4>
                      </div>
                    </div>
                      </a>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>

        <!-- Meta Info -->
        <div class="col-12">
          <div class="card">
            <div class="card-block">

              <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Title</div>
                      <div class="h2 py-1">{{show?.name}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Genre</div>
                      <div class="h2 py-1">{{show?.genres}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card" >
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Seasons</div>
                      <div class="h2 py-1">{{show?.seasonsCount}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Episodes (total)</div>
                      <div class="h2 py-1">{{show?.episodesCount}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Duration per Episode</div>
                      <div class="h2 py-1">{{show?.runtime}} min</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Original release</div>
                      <div class="h2 py-1">{{show?.releaseDate | date: "mediumDate"}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
              </div>

              <!-- reddit and imdb -->
              <div class="row">
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-info">
                    <div class="card-block">
                      <div class="h1 text-muted text-right mb-2">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Reddit_logo_and_wordmark.svg/1280px-Reddit_logo_and_wordmark.svg.png"
                          height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">167.906</div>
                      <p class="text-uppercase font-weight-bold">Posts</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-info">
                    <div class="card-block">
                      <div class="h1 text-muted text-right mb-2">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Reddit_logo_and_wordmark.svg/1280px-Reddit_logo_and_wordmark.svg.png"
                          height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">1,7 Mio</div>
                      <p class="text-uppercase font-weight-bold">Comments</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-warning">
                    <div class="card-block">
                      <div class="h1 text-muted text-right mb-2">
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.png" height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">{{show?.imdbUserReviewsCount | number}}</div>
                      <p class="text-uppercase font-weight-bold">User Reviews</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-warning">
                    <div class="card-block">
                      <div class="h2 text-muted text-right mb-2">
                        <img src="http://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.png" height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">{{show?.imdbRating | number}}</div>
                      <p class="text-uppercase font-weight-bold">Avg. Rating </p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
            </div>
          </div>
        </div>
        <!--/.col (reddit)-->
      </div>
    </div>
  </div>
  <!--/.row-->

  <!-- Ratings per star rating -->
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-block DB_TODO">
          <div class="row">
            <div class="col-12">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="ratingDistributionData" [labels]="ratingDistributionLabels" [options]="ratingDistributionOptions"
                  [colors]="ratingDistributionColors" [legend]="ratingDistributionLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <h4 class="text-lg-center">Distribution of Ratings</h4>
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-block DB_TODO">
          <div class="row">
            <div class="col-12">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="averageRatingData" [labels]="averageRatingLabels" [options]="averageRatingOptions"
                  [colors]="averageRatingColors" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <h4 class="text-lg-center">Average rating per season</h4>
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <!-- Card: Correlation between review sentiment and rating -->
      <div class="card">
        <div class="card-block DB_TODO">
          <h3>Correlation between review sentiment and rating (IMDb)</h3>
          <div class="chart-wrapper">
            <!--iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" -->
            <!--/iframe-->
            <canvas baseChart class="chart" style="display: block; height: 139px; width: 349px;" width="698" height="278" [datasets]="crrLineChartData"
              [labels]="crrLineChartLabels" [options]="crrLineChartOptions" [chartType]="crrLineChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <!-- Card: Sentiment for specific characters (IMDb) -->
      <div class="card">
        <div class="card-block DB_TODO">
          <h3>Sentiment for specific characters (IMDb)</h3>
          <div class="chart-wrapper">
            <!--iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" -->
            <!--/iframe-->
            <canvas baseChart class="chart" style="display: block; height: 139px; width: 349px;" width="698" height="278" [datasets]="characterSentimentChartData"
              [labels]="characterSentimentChartLabels" [options]="characterSentimentChartOptions" [chartType]="characterSentimentChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Viewers -->
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card card-inverse card-primary">
        <div class="card-block pb-0">
          <h4 class="mb-0">5.36 Mio.</h4>
          <p>Average Viewers</p>
        </div>
        <div class="chart-wrapper px-1" style="height:100px;">
          <canvas baseChart class="chart" [datasets]="viewersData" [labels]="viewersLabels" [options]="viewersOptions" [colors]="viewersColours"
            [legend]="viewersLegend" [chartType]="viewersType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
              <h4 class="text-lg-center">Distribution of Ratings</h4>
              <p class="text-lg-center">(Alternative zu Balkendiagramm oben)</p>
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
      </div>
      <div class="card">
        <div class="card-block p-0 clearfix">
          <i class="fa fa-globe bg-primary p-2 font-2xl mr-1 float-left"></i>
          <div class="h5 text-primary mb-0 pt-1">{{show?.seasons.length}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Seasons</div>
        </div>
      </div>
      <div class="card">
        <div class="card-block p-0 clearfix">
          <i class="fa fa-clone bg-primary p-2 font-2xl mr-1 float-left"></i>
          <div class="h5 text-primary mb-0 pt-1">{{show?.seasons[0].totalepisodes}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Episodes</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-inverse card-header-primary">
          <div class="font-weight-bold">
            <span>SALE</span>
            <span class="float-right">$1.890,65</span>
          </div>
          <div>
            <span>
              <small>Today 6:43 AM</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
          <div class="chart-wrapper" style="height:38px;">
            <canvas baseChart class="chart" [datasets]="lineChart4Data" [labels]="lineChart4Labels" [options]="lineChart4Options" [colors]="lineChart4Colours"
              [legend]="lineChart4Legend" [chartType]="lineChart4Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div class="chart-wrapper" style="height:38px;">
            <canvas baseChart class="chart" [datasets]="barChart2Data" [labels]="barChart2Labels" [options]="barChart2Options" [colors]="barChart2Colours"
              [legend]="barChart2Legend" [chartType]="barChart2Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- Word cloud -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn btn-primary btn-sm" type="button" (click)="setFilter('all')">All</button>
      <button class="btn btn-success btn-sm" type="button" (click)="setFilter('pos')">Positive</button>
      <button class="btn btn-danger btn-sm" type="button" (click)="setFilter('neg')">Negative</button>
      <div class="card">
        <svg width="500" height="500"></svg>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="card card-inverse card-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">{{show?.viewers}}</div>
          <small class="text-muted text-uppercase font-weight-bold">Viewers</small>
          <div class="progress progress-white progress-xs mt-1">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card card-inverse card-success">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="icon-user-follow"></i>
          </div>
          <div class="h4 mb-0">385</div>
          <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
          <div class="progress progress-white progress-xs mt-1">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card card-inverse card-warning">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="h4 mb-0">1238</div>
          <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
          <div class="progress progress-white progress-xs mt-1">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card card-inverse card-primary">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">28%</div>
          <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
          <div class="progress progress-white progress-xs mt-1">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card card-inverse card-danger">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="icon-speedometer"></i>
          </div>
          <div class="h4 mb-0">5:34:11</div>
          <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
          <div class="progress progress-white progress-xs mt-1">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card card-inverse card-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="icon-speech"></i>
          </div>
          <div class="h4 mb-0">972</div>
          <small class="text-muted text-uppercase font-weight-bold">Comments</small>
          <div class="progress progress-white progress-xs mt-1">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="card">
    <div class="card-block text-center">
      <div class="text-muted small text-uppercase font-weight-bold">Title</div>
      <div class="h2 py-1">1,123</div>
      <div class="chart-wrapper " style="height:400px;width:100%;">
        <canvas baseChart class="chart" [datasets]="lineChart5Data" [labels]="lineChart5Labels" [options]="lineChart5Options" [colors]="lineChart5Info"
          [legend]="lineChart5Legend" [chartType]="lineChart5Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      "Live" Timeline
      <div class="card-actions">
        <a href="http://www.chartjs.org">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-block">
      <div class="chart-wrapper">
        <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColours"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
<!-- Radar Chart-->
  <div class="=row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          Social Media Activity
          <div class="card-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-block">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
                    [datasets]="radarChartData"
                    [labels]="radarChartLabels"
                    [chartType]="radarChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>
