<div class="page__dashboard animated fadeIn">

  <!-- Title image -->
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{show?.titleimage}}" width="100%">
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-lg-12">
      <div class="row">

        <!-- Season selection -->
        <div class="col-12">
          <div class="card">
            <div class="card-block">
              <span *ngIf="show">
                <div class="row">
                  <div *ngFor="let s of show.seasons" class="col-12 col-md-2" routerLinkActive="active">
                    <a [routerLink]="['season/', s.seasonNumber]">
                    <div class="card card-inverse card-info no-vertical-margin">
                      <!--<img src="http://www.cultjer.com/img/ug_photo/2015_10/72623720151004152641.jpg" class="card-img-top" height="200" width="auto"/>-->
                      <div class="card-block">
                        <h4 class="card-title text-center" style="margin-bottom: 0;">Season {{s.seasonNumber}}</h4>
                      </div>
                    </div>
                      </a>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>

        <!-- Meta Info -->
        <div class="col-12">
          <div class="card">
            <div class="card-block">

              <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Title</div>
                      <div class="h2 py-1">{{show?.name}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Genre</div>
                      <div class="h2 py-1">{{show?.genres}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Seasons</div>
                      <div class="h2 py-1">{{show?.seasonsCount}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Episodes (total)</div>
                      <div class="h2 py-1">{{show?.episodesCount}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Duration per Episode</div>
                      <div class="h2 py-1">{{show?.runtime}} min</div>
                    </div>
                  </div>
                </div><!--/.col-->
                <div class="col-md-4 col-sm-6 col-lg-2">
                  <div class="card">
                    <div class="card-block text-center" style="height: 10.7rem;">
                      <div class="text-muted text-uppercase font-weight-bold">Original release</div>
                      <div class="h2 py-1">{{show?.releaseDate | date: "mediumDate"}}</div>
                    </div>
                  </div>
                </div><!--/.col-->
              </div>

              <!-- reddit and imdb -->
              <div class="row">
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-info">
                    <div class="card-block">
                      <div class="h1 text-muted text-right mb-2">
                        <img src="../../assets/img/logos/reddit.png"
                             height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">{{show?.redditPost_count | number}}</div>
                      <p class="text-uppercase font-weight-bold">Posts</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-info">
                    <div class="card-block">
                      <div class="h1 text-muted text-right mb-2">
                        <img src="../../assets/img/logos/reddit.png"
                             height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">{{show?.redditComment_count | number}}</div>
                      <p class="text-uppercase font-weight-bold">Comments</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-warning">
                    <div class="card-block">
                      <div class="h1 text-muted text-right mb-2">
                        <img src="../../assets/img/logos/imdb.png" height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">{{show?.imdbUserReviewsCount | number}}</div>
                      <p class="text-uppercase font-weight-bold">User Reviews</p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-6 col-md-3">
                  <div class="card no-vertical-margin card-warning">
                    <div class="card-block">
                      <div class="h2 text-muted text-right mb-2">
                        <img src="../../assets/img/logos/imdb.png" height="50" width="auto">
                      </div>
                      <div class="h1 mb-0">{{show?.imdbRating | number}}</div>
                      <p class="text-uppercase font-weight-bold">Avg. Rating </p>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
            </div>
          </div>
        </div>
        <!--/.col (reddit)-->
      </div>
    </div>
  </div>
  <!--/.row-->

  <!-- Ratings per star rating -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-12">
              <h2 class="text-lg-center">Distribution of Ratings</h2>
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="ratingDistributionData" [labels]="ratingDistributionLabels"
                        [options]="ratingDistributionOptions"
                        [colors]="ratingDistributionColors" [legend]="ratingDistributionLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-12">
              <h2 class="text-lg-center">Average rating per season</h2>
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="averageRatingData" [labels]="averageRatingLabels"
                        [options]="averageRatingOptions"
                        [colors]="averageRatingColors" [legend]="barChartLegend" [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"
                        id="avgRatingChart">
                </canvas>
              </div>
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Card: Correlation between review sentiment and rating -->
      <div class="card">
        <div class="card-block DB_TODO">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-12">
              <h2 class="text-center">Correlation between review sentiment and rating (IMDb)</h2>
              <div class="chart-wrapper">
                <!--iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" -->
                <!--/iframe-->
                <canvas baseChart class="chart" style="display: block; height: 139px; width: 349px;" width="698"
                        height="278" [datasets]="crrLineChartData"
                        [labels]="crrLineChartLabels" [options]="crrLineChartOptions"
                        [chartType]="crrLineChartType"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="show?.id ==1">
    <div class="col-12">
      <!-- Card: Sentiment for specific characters (IMDb) -->
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-12">
              <h2 class="text-center">Sentiment for specific characters (IMDb)</h2>
              <!-- TODO: Replace this text! -->
              <p class="lead">This chart displays <strong>average sentiment values</strong> for the <strong>main characters</strong> of the show. 
                The sentiment analysis is based on the <strong>content of user reviews</strong> on IMDb.
                The <strong>higher</strong> the sentiment, the more <strong>positive</strong> the character is perceived on average.</p>
              <div class="chart-wrapper">
                <!--iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" -->
                <!--/iframe-->
                <canvas baseChart class="chart" [datasets]="characterSentimentChartData"
                        [labels]="characterSentimentChartLabels" [options]="characterSentimentChartOptions"
                        [chartType]="characterSentimentChartType"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-12">
              <h2 class="text-lg-center">Reddit Comments per Season</h2>
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="redditDistributionData" [labels]="redditDistributionLabels"
                        [options]="redditDistributionOptions"
                        [colors]="redditDistributionColors" [legend]="barChartLegend" [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"
                        id="redditCommentsPerSeason">
                </canvas>
              </div>
            </div>
            <!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="row">
    <!--<div class="col-12 col-md-3">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels"
                        [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
              <h4 class="text-lg-center">Distribution of Ratings</h4>
              <p class="text-lg-center">(Alternative zu Balkendiagramm oben)</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>-->

  <!-- Word cloud -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <button class="btn btn-primary btn-sm" type="button" (click)="setFilter('all')">All</button>
      <button class="btn btn-success btn-sm" type="button" (click)="setFilter('pos')">Positive</button>
      <button class="btn btn-danger btn-sm" type="button" (click)="setFilter('neg')">Negative</button>
      <div class="card">
        <svg width="500" height="500"></svg>
      </div>
    </div>
  </div>

  <!-- Radar Chart-->
  <div class="=row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          Social Media Activity
          <div class="card-actions">
            <a href="http://www.chartjs.org">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-block">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
                    [datasets]="radarChartData"
                    [labels]="radarChartLabels"
                    [chartType]="radarChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->

</div>
