.no-vertical-margin {
  margin-top:0;
  margin-bottom:0.5rem;
}

.DB_DONE {
  color: green;
  border: 1px solid green !important;
}

.DB_TODO {
  color: red;
  border: 1px solid red !important;
}
h2 {
  margin-bottom: 2rem;
}
